@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1b1f3b;
  font-family: 'Press Start 2P', cursive;
  color: white;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#root {
  height: 100vh;
  width: 100%;
}