@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  height: 100vh;
  background-color: #1b1f3b;
  font-family: 'Press Start 2P', cursive;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}